<div>
  <h1>High latency makes your app feel crappy&hellip;</h1>
  <h2>&hellip; even when high ping times are not your fault.</h2>
  <br><br>
  <h1>Losing your users' work makes them hate you&hellip;</h1>
  <h2>&hellip; even when lost connections are not your fault.</h2>
</div>

