<div style="width: 800px">
  <h1>"Why?" Redux: Big Picture</h1>
  
  <ul>
    <li>The internet keeps swinging between centralized walled
    gardens and decentralized open systems.

    <li>Smart clients using open standards can lead the next swing
    away from walled gardens.

    <li>Fully peer-to-peer web applications are already becoming
    possible (examples: WebRTC data channels, <a href="https://github.com/peer5/sharefest">https://github.com/peer5/sharefest</a>)

  </ul>
</div>
