<div>
  <h1>ApplicationCache "Bootloader" Example</h1>
  Makes the app boot reliably despite possible version skew across servers.
  {{gist-view src="https://gist.github.com/ef4/82f37eb5dae4e56467b6.json"}}
</div>
