<div>
  <br><br>
  <h1>High availability&hellip;</h1>
  <h2>&hellip;lets you compete with all those "enterprise" desktop products.</h2>
  <br><br>
  <h1>Release & iterate at web speed&hellip;</h1>
  <h2>&hellip;while acting like a first-class native application.</h2>
</div>

