<div>
  <h1>The Object/Relational Debate&hellip;</h1>

  <h2>&hellip;is actually <em>much</em> older than just the NoSQL flamewars.</h2>

  <br><br>

  <h2>SQL != Relational Algebra</h2>

  <ul>
    <li>Relational algebra can be a really good fit for describing
    what a client has and what it wants.</h2>

</ul>
</div>


