<pre>
CACHE MANIFEST
# Built at 2014-06-15 19:04-0400 on debian from version 09ee859 
<span class="js">/js/deps-a37a6dc33fffe9952d0b53ccacc9876d.js</span>
<span class="js">/js/desktop-04d9a9efa632226ec96161e52dacfa0c.js</span>
<span class="js">/js/worker-43fe281390301a884bd5b90c0054a116.js</span>
<span class="css">/css/desktop-781e13307266294ed12d4b8863f7b733.css</span>
/ajax-loader.gif
/favicon.ico
/generic-person.jpg
/jquery-ui-theme/animated-overlay.gif
/jquery-ui-theme/ui-bg_diagonals-medium_20_d34d17_40x40.png
/jquery-ui-theme/ui-bg_diamond_25_332a86_10x8.png
/jquery-ui-theme/ui-icons_f3eed6_256x240.png
/jquery-ui-theme/ui-icons_ffe180_256x240.png
NETWORK:
/db/
/drugs
/engine.io/
/map/
/users/
/shared
FALLBACK:
/images/ /generic-person.jpg
</pre>
