<div>
  <h1>So stateful clients can be great&hellip;</h1>

  <h2>&hellip;but they can also be statefully broken.</h2>

  <a href="debugging-demo.mp4" target="new">Remote Debugging Screencast</a>

</div>
