<div>
  <h1>Store the Data</h1>
  <ul>
    <li>webSQL
      <a href="http://caniuse.com/#search=websql"><img src="caniuse-sql.png"></a>
    <li>localStorage</li>
      <a href="http://caniuse.com/#search=localstorage"><img src="caniuse-localstorage.png"></a>
    <li>IndexDB
      <a href="http://caniuse.com/#search=indexdb"><img src="caniuse-indexdb.png"></a>
    <li>Filesystem
      <a href="http://caniuse.com/#search=filesystem"><img src="caniuse-filesystem.png"></a>
</div>
