<div id="title-slide">
  <h1>Distributed Data for Better User Experience</h2>
  <h3>Edward Faulkner &lt;edward@braveleaf.com&gt;</h3>
  <h3><a href="http://ef4.github.io/distributed-ember-presentation/">http://ef4.github.io/distributed-ember-presentation/</a></h3>

  <img style="margin-top: -4em" src="distributed-tomster.png">

</div>
