<div style="width: 800px">
  <img style="float:left; margin-right: 2em" src="WiFiLogo.jpg">
  <h1>"Offline" Web Apps: Why?</h1>
  <h3>Isn't <i>everywhere</i> online by now, or will be soon?</h3>
  <h3>Isn't an offline web app an oxymoron?</h3>

</div>


